#board {
    height: 540px;
    width: 630px;
    border: 12px navy;
    background-color: blue;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    border-radius: 3%;
}

ul li a {
    text-decoration: none;
    color: white;
    background-color: navy;
    font-size: 2em;
}

ul li {
    list-style: none;
}

a {
    border-radius: 5px;
}

body {
    text-align: center;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}

.cat-chip {
    background-image: url(https://placekitten.com/79/79);
    background-color: white;
}

.dog-chip {
    background-image: url(https://placedog.net/79/79);
    background-color: white;
}

button {
    font-size: 1.5em;
}

button:hover {
    cursor: pointer;
    background-color: blue;
}

body {
    background-color: white;
}
